.task-container {
  width: 30em;
  margin: 1em auto;
}

.task-container #update-task-btn {
  display: none;
}

#task-list {
  text-align: left;
}

#task-list .form-check-input {
  cursor: pointer;
}

#task-list .checked-btn {
  border-radius: 50%;
}

#alert-container {
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 3;
}

@media screen and (max-width: 576px) {
  .task-container {
    width: 100%;
  }
  
  #alert-container {
    font-size: 0.75em;
  }
}